body {
	display: grid;
	width: 100vw;
	height: 350vh;
	grid-template-columns: 100%;
	grid-template-rows: 2.5% 2.5% 90% 5%;
	grid-template-areas: 
	"top"
	"header"
	"main"
	"footer";
	margin: 0 auto;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
}

.top1 {
	display: grid;
	grid-area: top;
	width: 100%;
	height: 100%;
	grid-template-columns: 5% 5% 22% 12% 23% 10% 8% 12% 3%;
	grid-template-rows: 100%;
	grid-template-areas: 
	"r . m . l . s d .";
	font-size: 12px;
	line-height: 15px;
	background: #F8F8F8;
}

.rects {
	grid-area: r;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.menu {
	grid-area: m;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.logo {
	grid-area: l;
	display: flex;
	justify-content: left;
	align-items: center;
}

.search {
	grid-area: s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dark {
	grid-area: d;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.switch {
 	position: relative;
  	display: inline-block;
  	width: 40px;
  	height: 20px;
}

.switch input {
	display:none;
}

.slider {
  	position: absolute;
  	cursor: pointer;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	background-color: black;
  	-webkit-transition: .3s;
  	transition: .3s;
  	border-radius: 20px;
}

.slider:before {
  	position: absolute;
  	content: "";
  	height: 12px;
  	width: 12px;
  	left: 4px;
  	bottom: 4px;
  	background-color: white;
  	-webkit-transition: .3s;
  	transition: .3s;
  	border-radius: 50%;
}

input:checked + .slider {
  	background-color: gray;
}

input:focus + .slider {
  	box-shadow: 0 0 1px gray;
}

input:checked + .slider:before {
  	-webkit-transform: translateX(20px);
  	-ms-transform: translateX(20px);
  	transform: translateX(20px);
}

header {
	display: grid;
	grid-area: header;
	width: 100%;
	height: 100%;
	background-color: black;
	grid-template-columns: 10% 78% 12%;
	grid-template-rows: 100%;
	grid-template-areas: 
	". menu .";
}

.top2 {
	grid-area: menu;
	width: 100%;
	height: 100%;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

main {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 100%;
	grid-template-rows: 30% 70%;
	grid-template-areas: 
	"ukr"
	".";
}

.ukrlogika {
	grid-area: ukr;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	background: url("abstract.png") no-repeat 50% 200%;
	justify-content: center;
	transform: rotate(-45.05deg);
	z-index: -1;
}

